.contenedor {
  border-radius: 5px;
  padding: 8px 0;
  margin: 0 30px;
}

.contenedor:hover {
  background: #282828;
}
.contenedor:hover > .labels > .centro > .album,
.author,
.album {
  color: white;
}

.contenedor:hover > .labels > .derecha > .album {
  color: white;
}
.contenedor:active {
  background: #3a3a3a;
}

.image {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  align-items: flex-start;
  justify-content: center;
}
.labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  height: 40px;
}

.izquierda {
  display: flex;
  flex-basis: 940px;
  flex-shrink: 3;
  flex-direction: row;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

.author {
  font-size: 13px;
  font-family: "circular std air";
  color: #8c8c8c;
}

.album {
  font-size: 15px;
  font-family: "circular std air";
  color: #8d8d8d;
  align-self: flex-start;
}

.index {
  color: #8d8d8d;
  margin-right: 15px;
  font-size: 1em;
  align-self: center;
}

.centro {
  flex-basis: 550px;
  flex-shrink: 1;
}

.derecha {
  flex-shrink: 1;
}
