.contenedor {
  border-radius: 5px;
  padding: 8px 30px;
}

.contenedor:hover {
  background: #282828;
}

.contenedor:active {
  background: #3a3a3a;
}

.imagen {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: flex-start;
}
.labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  height: 40px;
}

.izquierda {
  display: flex;
  flex-basis: 940px;
  flex-shrink: 3;
  flex-direction: row;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

.author {
  font-size: 13px;
  font-family: "circular std air";
  color: #8c8c8c;
}

.info {
  font-size: 15px;
  font-family: "circular std air";
  color: #8d8d8d;
  align-self: flex-start;
  text-transform: none;
}

.index {
  color: #8d8d8d;
  margin-right: 10px;
  font-size: 15px;
  align-self: center;
}

.centro {
  flex-basis: 550px;
  flex-shrink: 1;
}

.right {
  flex-shrink: 1;
}
