.container {
  display: "flex";
  flex-direction: "row";
  top: "5em";
}

.img {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  height: 232px;
  width: 232px;
}
